<html>
    <head>
        <title>Count Repeats</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Check how many times a word appears in a string!</h1>
            <form action="/view_results">
                <div class="form-group">
                    <label for="word">Enter your word:</label>
                    <input type="text" name="word" class='form-control' required>
                    <label for="string">Enter your string:</label>
                    <input type="text" name="string" class='form-control' required>
                </div>

                <button type='submit' class='btn btn-danger'>Check repeats!</button>
            </form>
        </div>
    </body>
</html>
